
{% extends "_layouts/cp" %}
{% set title = "Abandoned Carts" %}

{% set selectedSubnavItem = 'dashboard' %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('abandoned-cart') %}

{% block actionButton %}
    <div id="button-container">
        <div class="btngroup submit">
            <a class="btn" href="{{ actionUrl('abandoned-cart/base/find-carts') }}">
                {{ 'Find Abandoned Carts' | t('app') }}
            </a>
        </div>
    </div>
{% endblock %}

{# The content of the CP Section#}
{% set content %}
    
    <div class="flex" style="align-items: end; margin: 20px auto;">
        <div class="flex-grow">
            <div class="field">
                <div class="heading">
                    <h2>{{ "Dashboard"|t('app') }}</h2>
                    <div class="instructions">
                        <p>Abandoned carts will be updated every few minutes.<br />
                        If a new cart is found it will be marked as scheduled and added to the queue.<br />
                        Items in the queue will be scheduled as per your settings.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-grow" style="text-align: center;">
            <h3 style="color: #8f98a3;">Total Amount Recovered</h3>
            <h1>${{ totalRecovered|number_format(2, '.', ',') }}</h1>
            <h3 style="color: #8f98a3;">Abandoned Cart Conversion</h3>
            <h1>{{ conversionRate }}%</h1>
        </div>
    </div>

    <div id="no-carts"{% if carts|length %} class="hidden"{% endif %}>
        <p>{{ "No carts have been abandoned."|t('app') }}</p>
    </div>

    {% if carts | length %}

        <table id="carts" class="data fullwidth collapsible">
            <thead>
                <th scope="col">{{ "Cart" | t('app') }}</th>
                <th scope="col">{{ "Customer/Guest" | t('app') }}</th>
                <th scope="col">{{ "Total" | t('app') }}</th>
                <th scope="col">{{ "1st Reminder" | t('app') }}</th>
                <th scope="col">{{ "2nd Reminder" | t('app') }}</th>
                <th scope="col">{{ "Clicked" | t('app') }}</th>
                <th scope="col">{{ "Status" | t('app') }}</th>
                <th scope="col">{{ "Updated" | t('app') }}</th>
            </thead>
            <tbody>
                {% for cart in carts %}
                    {% if cart.order|length %}
                    <tr data-id="{{ cart.id }}" data-name="{{ cart.order[0].reference | t('site') }}" style="font-size: 13px;">
                        <td scope="row" data-title="{{ 'Order' | t('app') }}">
                            <a class="nav-anchor" href="{{ url('commerce/orders/' ~ cart.order[0].id) }}">{{ "View" | t('app') }}</a>
                        </td>
                        <td scope="row" data-title="{{ 'Customer' | t('app') }}" class="">
                            {% if cart.order[0].customer.userId|length %}
                                <a class="nav-anchor" href="{{ url('admin/users/' ~ cart.order[0].customer.id) }}">{{ cart.email }}</a>
                            {% else %}
                                {{ cart.email }}
                            {% endif %}
                        </td>
                        <td scope="row" data-title="{{ 'Total' | t('app') }}" class="">{{ cart.order[0].totalPrice|commerceCurrency(cart.order[0].currency) }}</td>
                        <td scope="row" data-title="{{ '1st Reminder' | t('app') }}" class="">
                            {% if cart.firstReminder %}
                                <div class="status green"></div>
                            {% else %}
                                <div class="status orange"></div>
                            {% endif %}
                            {{ cart.prettyFirstReminder }}
                        </td>
                        <td scope="row" data-title="{{ '2nd Reminder' | t('app') }}" class="">
                            {% if cart.secondReminder %}
                                <div class="status green"></div>
                            {% else %}
                                <div class="status orange"></div>
                            {% endif %}
                            {{ cart.prettySecondReminder }}
                        </td>
                        <td scope="row" data-title="{{ 'Clicked' | t('app') }}" class="">
                            {% if cart.clicked %}
                                <div class="status green"></div>
                            {% else %}
                                <div class="status red"></div>
                            {% endif %}
                            {{ cart.prettyClicked }}
                        </td>
                        <td scope="row" data-title="{{ 'Status' | t('app') }}" class="">
                            
                            {% set status = cart.status %}
                            
                            {% if cart.isRecovered and status != 'Expired' %}
                                <div class="status green"></div>
                            {% elseif cart.isScheduled and status != 'Expired' %}
                                <div class="status orange"></div>
                            {% elseif status != 'Expired' %}
                                <div class="status blue"></div>
                            {% else %}
                                <div class="status red"></div>
                            {% endif %}
                           
                            {{ status }}
                        </td>
                        <td scope="row" data-title="{{ 'Order' | t('app') }}">
                            {{cart.dateUpdated|datetime('short') }}
                        </td>
                    </tr>
                    {% else %}
                    <tr data-id="{{ cart.id }}" data-name="{{ cart.orderId | t('site') }}" style="font-size: 13px;">
                        <td scope="row" data-title="{{ 'Order' | t('app') }}">-</td>
                        <td scope="row" data-title="{{ 'Customer' | t('app') }}" class="">
                            {{ cart.email }}
                        </td>
                        <td scope="row" data-title="{{ 'Total' | t('app') }}" class="">-</td>
                        <td scope="row" data-title="{{ '1st Reminder' | t('app') }}" class="">
                            {% if cart.firstReminder %}
                                <div class="status green"></div>
                            {% else %}
                                <div class="status orange"></div>
                            {% endif %}
                            {{ cart.prettyFirstReminder }}
                        </td>
                        <td scope="row" data-title="{{ '2nd Reminder' | t('app') }}" class="">
                            {% if cart.secondReminder %}
                                <div class="status green"></div>
                            {% else %}
                                <div class="status orange"></div>
                            {% endif %}
                            {{ cart.prettySecondReminder }}
                        </td>
                        <td scope="row" data-title="{{ 'Clicked' | t('app') }}" class="">
                            {% if cart.clicked %}
                                <div class="status green"></div>
                            {% else %}
                                <div class="status red"></div>
                            {% endif %}
                            {{ cart.prettyClicked }}
                        </td>
                        <td scope="row" data-title="{{ 'Status' | t('app') }}" class="">
                            
                            {% set status = cart.status %}
                            
                            {% if cart.isRecovered and status != 'Expired' %}
                                <div class="status green"></div>
                            {% elseif cart.isScheduled and status != 'Expired' %}
                                <div class="status orange"></div>
                            {% elseif status != 'Expired' %}
                                <div class="status blue"></div>
                            {% else %}
                                <div class="status red"></div>
                            {% endif %}
                           
                            {{ status }}
                        </td>
                        <td scope="row" data-title="{{ 'Order' | t('app') }}">
                            {{cart.dateUpdated|datetime('short') }}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% include "_includes/pagination" %}
    {% endif %}

{% endset %}