{% extends "_layouts/cp" %}

{% set title = "Dashboard" %}

{% set selectedSubnavItem = 'dashboard' %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('abandoned-cart') %}

{# The content of the CP Section#}
{% set content %}

    <div class="field">
        <div class="heading">
            <h2>{{ "Abandoned Carts"|t('app') }}</h2>
            <div class="instructions">
                <p>Abandoned carts will be updated every few minutes. 
                If a new cart is found it will be marked as scheduled and added to the queue.<br />
                Items in the queue will be scheduled as per the delay times in settings.
                </p>
            </div>
        </div>
    </div>

    <div id="no-carts"{% if carts|length %} class="hidden"{% endif %}>
        <p>{{ "No carts have been abandoned. Winning."|t('app') }}</p>
    </div>

    {% if carts | length %}

        {% set abandonedCarts = carts %}

        <table id="carts" class="data fullwidth collapsible">
            <thead>
                <th scope="col">{{ "Cart" | t('app') }}</th>
                <th scope="col">{{ "Customer/Guest" | t('app') }}</th>
                <th scope="col">{{ "Total" | t('app') }}</th>
                <th scope="col">{{ "Order Updated" | t('app') }}</th>
                <th scope="col">{{ "1st Reminder" | t('app') }}</th>
                <th scope="col">{{ "2nd Reminder" | t('app') }}</th>
                <th scope="col">{{ "Clicked" | t('app') }}</th>
                <th scope="col">{{ "Status" | t('app') }}</th>
            </thead>
            <tbody>
                {% for cart in abandonedCarts %}
                    <tr data-id="{{ cart.id }}" data-name="{{ cart.order[0].reference | t('site') }}">
                        <td scope="row" data-title="{{ 'Order' | t('app') }}">
                            <a class="nav-anchor" href="{{ url('commerce/orders/' ~ cart.order[0].id) }}">{{ "View" | t('app') }}</a>/<a class="nav-anchor" href="{{ url('/abandoned-cart-restore?number=' ~ cart.order[0].number) }}">{{ "Restore" | t('app') }}</a>
                        </td>
                        <td scope="row" data-title="{{ 'Customer' | t('app') }}" class="">
                            {% if cart.order[0].customer.userId|length %}
                                <a class="nav-anchor" href="{{ url('admin/users/' ~ cart.order[0].customer.id) }}">{{ cart.email }}</a>
                            {% else %}
                                {{ cart.email }}
                            {% endif %}
                        </td>
                        <td scope="row" data-title="{{ 'Total' | t('app') }}" class="">{{ cart.order[0].totalPrice|commerceCurrency(cart.order[0].currency) }}</td>
                        <td scope="row" data-title="{{ 'Last Update' | t('app') }}" class="">{{ cart.order[0].dateUpdated.diff(now)|duration(false) }} ago</td>
                        <td scope="row" data-title="{{ '1st Reminder' | t('app') }}" class="">
                            {{ cart.prettyFirstReminder }}
                        </td>
                        <td scope="row" data-title="{{ '2nd Reminder' | t('app') }}" class="">
                            {{ cart.prettySecondReminder }}
                        </td>
                        <td scope="row" data-title="{{ 'Clicked' | t('app') }}" class="">
                            {% if cart.clicked %}
                                <div class="status green"></div>
                            {% else %}
                                <div class="status red"></div>
                            {% endif %}
                            {{ cart.prettyClicked }}
                        </td>
                        <td scope="row" data-title="{{ 'Status' | t('app') }}" class="">
                            {% set status = cart.status %}
                            {% if cart.isRecovered and status != 'Expired' %}
                                <div class="status green"></div>
                            {% elseif cart.isScheduled and status != 'Expired' %}
                                <div class="status orange"></div>
                            {% elseif status != 'Expired' %}
                                <div class="status blue"></div>
                            {% else %}
                                <div class="status red"></div>
                            {% endif %}
                            {{ status }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endset %}