{% extends "_layouts/cp" %}
{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: craft.abandonedcart.getPluginName(), url: url('abandoned-cart/settings') },
    { label: 'Settings' | t('app'), url: url('abandoned-cart/settings') }
] %}

{% set selectedSubnavItem = 'settings' %}

{% set fullPageForm = true %}

{% set content %}
<div class="field notice">
    <div class=""><strong>A helpful reminder...</strong><br />A cart is marked "abandoned" 1 hour after no activity. The delays below will take effect after that.<br/ >For example the 1st reminder by default is sent 2 hours after the customer last interacted with their cart.</div>
</div>

<input type="hidden" name="action" value="plugins/save-plugin-settings">
<input type="hidden" name="pluginHandle" value="abandoned-cart">

{% namespace 'settings' %}

{{ forms.textField({
    first: true,
    label: "Plugin Name",
    name: 'pluginName',
    value: settings.pluginName,
    placeholder: 'Abandoned Carts',
    instructions: 'Plugin nickname',
    errors: settings.getErrors('pluginName')
}) }}

{{ forms.textField({
    label: 'Cron Pass Key',
    instructions: 'A generated, unique string to increase security against crons being run inadvertently.',
    id: 'passKey',
    name: 'passKey',
    value: settings.passKey,
    errors: settings.getErrors('passKey')
}) }}

{{ forms.lightswitchField({
    label: 'Enable Test Mode',
    instructions: 'If test mode is enabled, clicking the Find Abandoned Carts button will instantly send any orders that meet the criteria and bypass the queue.',
    id: 'testMode',
    name: 'testMode',
    on: settings.testMode,
}) }}

{{ forms.lightswitchField({
    label: 'Disable 2nd Reminder',
    instructions: 'If disabled only the 1st reminder will be sent.',
    id: 'disableSecondReminder',
    name: 'disableSecondReminder',
    on: settings.disableSecondReminder,
}) }}

{{ forms.textField({
    label: "Restore Link Expiry",
    name: 'restoreExpiryHours',
    value: settings.restoreExpiryHours,
    placeholder: '48',
    instructions: 'How long should abandoned cart restore links last for after bring sent.',
    errors: settings.getErrors('restoreExpiryHours')
}) }}

{{ forms.textField({
    label: "1st Reminder Delay",
    name: 'firstReminderDelay',
    value: settings.firstReminderDelay,
    placeholder: '1',
    instructions: 'How long after a cart has been abandoned should the 1st reminder be sent.<br /><i>Note: Carts are marked abandoned 1 hour after no activity.</i>',
    errors: settings.getErrors('firstReminderDelay')
}) }}

{{ forms.textField({
    label: "2nd Reminder Delay",
    name: 'secondReminderDelay',
    value: settings.secondReminderDelay,
    placeholder: '12',
    instructions: 'How long after a cart has been abandoned should the 2nd reminder be sent.',
    errors: settings.getErrors('secondReminderDelay')
}) }}

{{ forms.textField({
    label: "1st Reminder Template",
    name: 'firstReminderTemplate',
    value: settings.firstReminderTemplate,
    placeholder: 'abandoned-cart/emails/first',
    instructions: 'Use a custom template for the 1st reminder email.',
    errors: settings.getErrors('firstReminderTemplate')
}) }}

{{ forms.textField({
    label: "1st Reminder Email Subject",
    name: 'firstReminderSubject',
    value: settings.firstReminderSubject,
    placeholder: "You've left some items in your cart",
    errors: settings.getErrors('firstReminderSubject')
}) }}

{{ forms.textField({
    label: "2nd Reminder Email Template",
    name: 'secondReminderTemplate',
    value: settings.secondReminderTemplate,
    placeholder: 'abandoned-cart/emails/second',
    instructions: 'Use a custom template for the 2nd reminder email.',
    errors: settings.getErrors('secondReminderTemplate')
}) }}

{{ forms.textField({
    label: "2nd Reminder Subject",
    name: 'secondReminderSubject',
    value: settings.secondReminderSubject,
    placeholder: "Your items are still waiting - don't miss out",
    errors: settings.getErrors('secondReminderSubject')
}) }}

{{ forms.textField({
    label: "Discount Code",
    name: 'discountCode',
    value: settings.discountCode,
    instructions: 'Enter the discount code that abandoned carts can use.<br />Discount rules and conditions should be set accordingly.<br /><i>Note: this simply displays the code in the email template, customers will need to apply it.</i>',
    errors: settings.getErrors('discountCode')
}) }}

{{ forms.textField({
    label: "Recovery Redirect URL",
    name: 'recoveryUrl',
    value: settings.recoveryUrl,
    instructions: 'By default recovered carts will be redirected to shop/cart, use this field if you use something different.<br /><i>Note: it should just be the slug e.g. shop/cart and not the full URL.</i>',
    errors: settings.getErrors('recoveryUrl')
}) }}

{{ forms.textField({
    label: "Blacklisted Emails",
    name: 'blacklist',
    value: settings.blacklist,
    instructions: 'Enter emails seperated by a comma that should be ignored.',
    errors: settings.getErrors('blacklist')
}) }}

{% endnamespace %}

{% endset %}
